@import 'cms/base/settings';
@import 'cms/base/themes';
@import 'cms/svg/logo';

.logo {
  width: 95%;
  margin: 2em auto;
  padding: .6em 0;
}

/*
.nav-wrapper .inner {
  background: $color-1 !important;
}

.breadcrumb {
  background: $color-1 !important;
}

header, .page-explorer .listing .index, .tab-nav.merged {
  background: $color-5 !important;
}

.button {
  background-color: $color-2 !important;
  border: 1px solid $color-2 !important;
  color: $grey-1 !important;
}

.tab-nav li.active a {
  color: $color-1;
  background-color: $grey-1;
  border-top: .3em solid $color-2;
}

.tab-nav a {
  color: $grey-1;
  background-color: $color-2;
  border-top: .3em solid $color-1;
}

footer {
  background: $color-5;
}

a {
  color: $color-2;
}

a:hover {
  color: $color-2;
}*/
