#center-area > #center-content-area.no-right-margin {
  margin: 45px 0 0 0;
}

#right-area > #faceted-right-column {
  border: none;
}

body div.ui-datepicker div.ui-datepicker-title {
  display: block;
}